.architecture{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.architectureContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: #575757 solid 0.5px;
    /* background-color: #fff;
    color: black; */
    
}

.architectureStep{
    border-bottom: #575757 solid 0.5px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    flex: 1 1 200px;
}

.architectureStep h2{
    font-weight: 100;
    font-size: 28px;
    margin: 0;
    color: wheat;
    /* color: rgb(163, 106, 0); */
    transition: all 0.3s ease-in-out;
}

.architectureStep p{
    font-weight: 100;
    font-size: 13px;    
}



.processText{
    flex: 1 1 40%;
    font-size: 48px !important;
    padding: 20px;
}

.processText2{
    font-size: 48px !important;
    font-weight: 100;
}

.processButton{
    border: wheat solid 0.5px;
    padding: 10px;
    outline: 0;
    font-weight: 100;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: transparent;
    color: wheat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.processButton:hover{
    background: wheat;
    color: black;
}


@media screen and (max-width: 1000px) {
    .architecture{
        flex-direction: column;
    }

    .processText{
        padding: 20px;
    }

    .architectureContainer{
        width: 100%;
        flex-direction: column;
    }


}