.hero{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {

}

