.container{
    width: 100vw;
    height: 100vh;

}

.header{
    width: 100vw;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    position: relative;
    border-bottom: 1px solid #848484;
}

.headerLeft{
    font-family: Anurati;
    font-size: 2.5vw;
}

.headerRight{
    margin-right: 40px
}

.headerRight button{
    background-color: transparent;
    border: 1px solid #848484;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
    padding:20px;
    font-weight: 300;
}

.headerRight button:hover{
    background-color: white;
    color: #101010;
}

.dashboard{
    width: 100vw;
    height: 100%;
    /* background-image: linear-gradient(rgb(6, 6, 6), rgba(0, 0, 0, 0)); */
    /* background-color: #040404; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftMenu{
    min-width: 200px;
    width: 20vw;
    height: 100%;
    /* background-color: #101010; */
    color: white;
    /* display: flex;
    flex-direction: column; */
    border-right: 1px solid #848484;
    overflow-x: hidden;
    overflow-y: scroll;
}



.rightContent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardPage,
.homePage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

