@font-face {
  font-family: Anurati;
  src: url("/Anurati-Regular.otf") format("opentype");
}

@font-face {
  font-family: Potra;
  src: url("/Potra.otf") format("opentype");
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('./HelveticaNeueUltraLight.otf') format('opentype');
}

main{
  display: inline-block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  background-color: #101010;

}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'HelveticaNeueLight', Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.5rem;
  background-color: #101010;
  margin: 0;
  overflow-y: scroll;

}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

h1, h2{
  font-family: 'Helvetica Neue', 'HelveticaNeueLight', Helvetica, sans-serif;
  font-weight: 200;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

#hero{
  position: relative;
}

#spiralcontainer {
  position: relative;

  width: 100vw;
  height: 60vh;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
}

#rightcontent{
  height: 100%;
  width: 100vw;
  background-color: #101010;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#right{
  height: 100%;
  width: 100%;
  background-color: #101010;
  margin: 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#scrollButton {
  position: absolute;
  top: calc(50vh - 20px);  /* Adjust to place the button where you want */
  right: 10px;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 999; /* Ensure the button is above the spiral */
  background: transparent;
  transition: all 0.2s ease-in-out;
}

#scrollButton2 {
  position: absolute;
  top: calc(50vh - 20px);  /* Adjust to place the button where you want */
  right: 10px;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 999; /* Ensure the button is above the spiral */
  background: transparent;
  transition: all 0.2s ease-in-out;
}

#scrollButton2:hover,
#scrollButton:hover {
  scale: 0.95;
}

.allletters,
.encrypted,
.revealed{
    font-weight: 200 !important;
    font-size: 40px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.encryptedTitle,
.revealedTitle{
    font-weight: 400 !important;
    font-size: 7vw;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 0;
    font-family: Anurati;
    cursor: default;
}

@media screen and (max-width: 400px) {
  .allletters,
  .encrypted,
  .revealed{
      font-size: 15px;
  }

  .encryptedTitle,
  .revealedTitle{
      font-size: 40px;
  }
}

#cxmplist{
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  #cxmplist{
      font-size: 10px;
  }
}

.heroButton{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: wheat;
}

.heroButton:hover{
  color: wheat;
}

#content{
  height: 100vh;
  width: 100vw;
}