@font-face {
  font-family: Anurati;
  src: url("./Anurati-Regular.otf") format("opentype");
}

@font-face {
  font-family: BoteraStencil;
  src: url("./Botera-RegularStencil.otf") format("opentype");
}

@font-face {
  font-family: Potra;
  src: url("./Potra.otf") format("opentype");
}

main{
  display: inline-block;
  width: 200vw;
  height: 100vh;
  overflow-y: hidden;
  padding: 0;

}



body {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  color: white;
  font-size: 1.5rem;
  margin: 0;

}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

#spiralcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#rightcontent{
  height: 100%;
  width: 100vw;
  background-color: #101010;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right{
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}