.podspage{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #848484
}

.createPod{
    border: 0;
    border-left: 1px solid #848484;
    border-right: 1px solid #848484;
    padding: 20px;
    outline: none;
    background-color: #101010;
    color: white;
    cursor : pointer;
    transition: all 0.2s ease-in-out;
}

.createPod:hover{
    background-color: white;
    color: black;
}

.title{
    margin-left: 20px;
}

.pods{
    display: flex;
    flex-wrap: wrap;
}

.pod{
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    flex: 1 1 400px;
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.podFooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.podFooter div{
    padding: 10px;
    border-right: 1px solid #848484;
    border-top: 1px solid #848484;
    flex: 1 1 auto;
}

.podPrice{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border-left: 1px solid #848484;
    border-bottom: 1px solid #848484;
    display: flex;
    max-width: 50%;
    font-size: 1vw;
    min-height: 50px;
}

.priceRange{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.togglePodDeployment{
    cursor: pointer;
    max-width: 50%;
    text-align: right;
    border-left: 1px solid #848484;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.togglePodDeployment:hover{
    background-color: white;
    color: black;
}

.podName{
    padding-top: 40px;
    padding-left: 20px;
    font-size: 2vw;
    color: #848484;
    
}

.statusDeployed{
    color: rgb(0, 158, 53);
    text-align: right;
}

.statusDeploying{
    color: rgb(150, 158, 0);
    text-align: right;
}

.statusUndeployed{
    color: rgb(158, 55, 0);
    text-align: right;
}

.createPodForm{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    /* background-color: rgb(36, 36, 36); */

    width: 50%;
    height: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    font-weight: 200;
}

.form h1, .form h2{
    font-weight: 200;
}

.formLeft{
    width: 60%;
    /* background-color: rgb(59, 59, 59); */
    padding: 20px;
    border: 1px solid #848484;
    background-color: #101010;
}

.formLeft h2{
    color: #848484;
}

.formRight{
    width: 40%;
    border: 1px solid #848484;
    border-left: 0;
    background-color: #101010;
    overflow-y: scroll;
}

.formRight select,
.formRight input{
    padding: 10px;
    /* color: black;  */
    background-color: #202020;
    /* background-color: #101010;
    color: white; */
    color: wheat;
    outline: none;
    border: none;
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    width: 100%;
}

.formClose{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    padding: 20px;
    cursor: pointer;
}

.formRight{
    padding-top: 20px;
}

.formRight label{
    font-size: 16px;
    color: #848484;
    width: 100%;
    text-align: center;
}

.formLeft h1{
    color: wheat;
}
